@import url('https://fonts.googleapis.com/css?family=Nixie+One:400|Rokkitt:300');

:root {
  --blue: #0367A6;
  --black: #333;
}

html {font-size: 100%;} /*16px*/

body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: 'Rokkitt', serif;
  font-weight: 300;
  line-height: 1.65;
  color: #333;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Nixie One', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3em;
}

h2 {font-size: 2.25em;}

h3 {font-size: 1.75em;}

h4 {font-size: 1.5em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

a {
  color: inherit;
  text-decoration: underline;
  color: #0367A6;
}

a:hover {
  text-decoration: underline;
  color: #0367A6;
}

* {
  box-sizing: border-box;
}

@media (max-width: 900px) {
  html { 
    font-size: 80%;
  }
  h1, h2, h3, h4, h5 {
    margin: 1.75rem 0 1.05rem;
    font-family: 'Nixie One', sans-serif;
    font-weight: 400;
    line-height: 1.15;
  }
  p {
    font-size: 125%;
    margin: 0;
  }
  a {
    font-size: 125%;
  }
}
